/NetBeansProjects/GuessNumber/nbproject/private/
/NetBeansProjects/GuessNumber/build/
/NetBeansProjects/MethodMaking/nbproject/private/
/NetBeansProjects/MethodMaking/build/
/NetBeansProjects/PrimeNumber/nbproject/private/
/NetBeansProjects/PrimeNumber/build/
