/NetBeansProjects/CoreJavaExam/nbproject/private/
/NetBeansProjects/CoreJavaExam/build/
/NetBeansProjects/POSEmployee/nbproject/private/
/NetBeansProjects/POSEmployee/build/
/NetBeansProjects/TestMultiThreding/nbproject/private/
/NetBeansProjects/TestMultiThreding/build/
